.product-item{
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.2) 0 2px 8px 0;
    padding: 15px;
    margin: 10px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0.6vw !important;;
}
.flexcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-items{
    flex-wrap: wrap;
    padding: 20px 0;
}
.product-item-title{
    white-space: nowrap; 
    max-width: 11.8rem; 
    overflow: hidden;
    text-overflow: ellipsis; 
    padding: 8px;
    font-weight: 550;
    opacity: 0.5;
    display: block;
    font-size: 10px;
}
.product-item-price{
    font-weight:550;
}

.product-item-cat{
    text-transform:uppercase;
    background-color:goldenrod;
    color: white;
    font-weight: 600;
    font-size:12px;
    position:absolute;
    top:6px;
    border-radius:8px;
    padding-right:8px;
    padding-left:8px;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
}
@media screen and (min-width: 576px) {
    .product-item-img img{
        height: 165px!important;
    }
    .product-item{
        margin:6px;
    }
    .product-item-body{
        padding:10px 0 6px 0 !important;
    }
    .product-item-title{
        font-size: 15px;
        padding: 5px;
        margin-bottom: 5px;
    }
    .product-item-price-icon{
        font-size: 16px!important;
    }
    .product-item-price{
        font-size: 15px;
        font-weight:500;
    }
}
@media screen and (min-width: 768px) {
    .product-item-img img{
        height: 150px!important;
    }
    .product-item{
        margin:6px;
    }
    .product-item-title{
        font-size: 15px;
        padding: 6px;
        margin-bottom: 5px;
    }
    .product-item-price-icon{
        font-size: 17px!important;
    }
    .product-item-price{
        font-size: 15px;
    }
}
@media screen and (min-width: 992px) {
    .product-item-img img{
        height: 144px!important;
    }
    .product-item{
        margin:5px;
    }
    .product-item-title{
        font-size: 14px;
        padding: 5px;
        /* margin-bottom: 5px; */
    }
    .product-item-price-icon{
        font-size: 17px!important;
    }
    .product-item-price{
        font-size: 15px;
    }
}
@media screen and (min-width: 1200px) {
    .product-item-img img{
        height: 142px!important;
    }
    .product-item{
        margin:0.6vw;
    }
    .product-item-title{
        font-size: 14px;
        padding: 5px;
    }
    .product-item-price-icon{
        font-size: 16px!important;
    }
    .product-item-price{
        font-size: 14px;
    }
}
@media screen and (min-width:20em) and (max-width:36em){
    .product-item-img img{
        height: 6.8rem;
    }
    .product-item{
        display: flex;
        flex-direction: column;
        box-shadow: rgba(0, 0, 0, 0.2) 0 2px 8px 0;
        padding: 0.5rem;
        border-radius: 4px;
        cursor: pointer;
        margin: 0.4rem !important;
    }
    .product-item-title{
        white-space: nowrap; 
        max-width: 9.1rem; 
        overflow: hidden;
        text-overflow: ellipsis; 
        padding: 0.5rem;
        font-weight: 550;
        opacity: 0.5;
        display: block;
        font-size: 0.75rem;
        margin: 0;
    }
    .cat-single .product-item-price{
        font-size: 0.7rem;
    }
    .cat-single .product-item-price-icon-body svg{
        font-size: small;
    }
    .cat-single .product-item-body{
        padding: 0.675rem 0!important;
    }
}