/* .nav-search{

    display: flex;
    flex-direction: column;
} */
.navbar .nav-search .input-box{
    width: 16rem;
}
.nav-search .input-box{
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 0;
}
.input-inactive{
    display: none;
}

.form-control{
    height: 100%;
}
.search-suggestions{
    position: absolute;
    /* top: 7vh; */
    top: 2.74rem;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.1);
    border-top: none;
}
.search-suggestions-items{
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
    border-top: 1px solid rgba(0,0,0,0.1);
    color: black;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    /* border-radius: 5px; */

}
@media screen and (max-width:576px) {
    .search-suggestions{
        top: 2.2rem;
    }
}
@media screen and (max-width:768px) {
    .nav-search{
        width: 40vw;
    }
}
@media screen and (min-width:20em) and (max-width:36em){
    .search-suggestions-items{
        font-size: 0.8rem;
    }
    .nav_search_btn i{
        font-size: 0.9rem;
    }
    .nav-search .form-control{
        font-size: 0.8rem;
    }

}

/* @media screen and (min-width:20em) {
    scro
} */