@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    min-height: 100%;
}
html{
    position: relative;

}
html::after {
    content: '';
    display: block;
    height: 8rem; 
}
